body { 
  background: #111; 
  font: 12px/18px Helvetica, Arial, sans-serif;
  }

label {
  font: bold italic 1.6em Times, 'Times New Roman', serif;
  font-size: 16px;
  text-transform: lowercase;
  color: #333;
  padding: .4em 0;
  }

input:focus {
  outline: none;
  }

.tag-editor {
  background: #eee;
  -webkit-border-radius: 3px;
  padding: 10px;
  }

.tag-editor label { display: block; }

.tag-editor input {
  border: none;
  background: none;
  padding: .2em 0;
  width: 50px;
  float: left;
  }

.tag-editor .tags-container {
  background: white;
  -webkit-border-radius: 3px;
  padding: 3px;
  margin: 0;
  width: 200px;
  }

.tag-editor span {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-border-radius: 2px;
  margin: 0 .4em .4em 0;
  padding: 0 .2em 0 .4em;
  display: block;
  float: left;
  }

.tag-editor span a {
  -webkit-border-radius: 2px;
  background: #333;
  padding: 0 .4em;
  color: white;
  text-decoration: none;
  margin-left: .4em;
  }
.tag-editor span a:hover {
  color: #ccc;
  }
.tag-editor span a:active {
  color: white;
  }
.visualClear { 
  clear: both; 
  }